actions {
    position: center;
}

.social-container {
    background-color:#eee;
    padding: 25px 50px;
    
    
}
a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
   
    
    
  }
  a.social:hover {
    transform: translateY(-5px);
  }

  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  a.github{
      color:black
  }
  a.discord{
      color:cornflowerblue
  }

  .heroheding{

    
    padding-top: 150px;
  }
  .house{
    border: solid 5px black;
  }
  .heroheading{
    border: solid 2px black;
    border-radius: 0.5rem;
  }

  .heroimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .heroinfo{
    border:solid 2px black;
    border-radius: 1rem;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .containe{
    border: solid 5px black
  }

 .recentprojects{
   text-align: center;
 }